#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
}
.country{
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.country-name{
    font-size: 45px;
    color: magenta;
}
#countryDetail img{
    width: 200px;
}